<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>

    <div class="surface-section px-4 py-8 md:px-6 lg:px-8" id="contacto">
        <div class="text-700 text-center">
            <div class="text-900 font-bold text-5xl mb-3">CONTÁCTANOS</div>
            <div class="text-700 text-2xl mb-5">Estamos ansiosos de formar parte de tu operación.</div>
    
            <div class="grid">
                <div class="col-12 md:col-4 mb-4 px-5">
                    <span class="p-2 shadow-2 mb-2 inline-block surface-card" style="border-radius: 10px">
                        <a title="Mail"
                        href="https://api.whatsapp.com/send?phone=528135623911">
                        <img class="card-img-top" src="../../../assets/Imagenes/whatsapp-logo-4-1.png" alt="Card image cap"></a>
                    </span>
                    <div class="text-900 text-xl mb-3 font-medium">Whatsapp</div>
                    <span class="text-700 line-height-3">Comunicate con nuestros representantes vía Whatsapp.</span>
                </div>
                <div class="col-12 md:col-4 mb-4 px-5">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <a title="Mail"
                        href="mailto:agustin.galeano@m-d.mx?Subject=Contacto%20para%20cotización%20de%20servicios%20logísticos.">
                        <img class="card-img-top" src="../../../assets/Imagenes/Outlook logo.png" alt="Card image cap"></a>
                    </span>
                    <div class="text-900 text-xl mb-3 font-medium">Correo Electrónico</div>
                    <span class="text-700 line-height-3">Solicita una cotización para tu proyecto por correo electrónico.</span>
                </div>
                <div class="col-12 md:col-4 mb-4 px-5">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <a title="Linkedin" href="https://www.linkedin.com/company/mdservices/people/">
                        <img class="card-img-top" src="../../../assets/Imagenes/In-logo.png" alt="Card image cap"></a>
                    </span>
                    <div class="text-900 text-xl mb-3 font-medium">Linkedin</div>
                    <span class="text-700 line-height-3">Encuentranos en Linkedin.</span>
                </div>
        
             </div>
       </div>
    </div>
</body>
</html>