<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galeria</title>
</head>
<body>
  <div class="container">
    <div>
      <figure>
      <img src="../../../assets/Imagenes/Almacén vacio 2.png" class="rounded float-start" alt="...">
      </figure>
      <div>
        <h1>Ubicación estratégica</h1>
        <p>Contamos con instalaciones en parques industriales AAA. Nuestro almacén se encuentra ubicado sobre Av. Miguél
          alemán, dicha ubicación es de facil acceso para todo tipo de cargas, incluso cargas pesadas o maniobras
          dificiles.
        </p>
      </div>
    </div>
  
    <div>
      <figure>
        <img src="../../../assets/Imagenes/Bahia.jpg" class="rounded float-end" alt="...">
      </figure>
      <div>
        <h2>Almacenaje dedicado</h2>
        <p>Contamos con disponibilidad de 5400 mts2, equivalentes a 7000 pallet position. 10 docks para hacer más dinamica tu operación, racks con altura de 8mts y posiciones a piso.
          Para un servicio a la medida proporcionamos configuraciones en rack. (Standar-pallet, Half-pallet, Full-pallet) 
        </p>
      </div>
    </div>
  
    <div>
      <figure>
        <img src="../../../assets/Imagenes/Equipo MD Web.png" class="rounded float-start foto" alt="...">
      </figure>
      <div>
        <h2>Personal calificado</h2>
        <p>Nuestro personal está calificado para ejecutar las tareas con disciplina llevando a cabo los procesos y procedimientos indicados como manejo de montacargas, descargas, almacenaje,
          picking y embarque de materiales, entre otros, a fin de ofrecer la mejor experiencia a nuestros clientes.
       </p>
      </div>
    </div>
  </div>  
  <app-contacto></app-contacto>
  <app-footer></app-footer>
</body>
</html>

