<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog MD Services</title>
</head>
<body>
    <div class="container">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <a title="Linkedin"
                    href="https://www.linkedin.com/pulse/el-nuevo-oro-blanco-adri%C3%A1n-cuadros-arellano?trk=public_profile_article_view">
                    <img src="../../../assets/Imagenes/Algodón.jpg" style="width:100%"></a>
                <p style="color: gray;">Publicada el 30 de Septiembre del 2022</p>
                <a title="nota" style="color: black; text-decoration:none"
                    href="https://www.linkedin.com/pulse/el-nuevo-oro-blanco-adri%C3%A1n-cuadros-arellano?trk=public_profile_article_view">
                    <h1>El nuevo oro blanco</h1>
                </a>
                <p>Se utiliza para la industria de la salud, sobre todo para insumos médicos, como son los hisopos y las
                    torundas,
                    además del algodón plisado, que se utiliza para limpiar heridas y mantener la higiene de personas,
                    superficies e instrumental médico.</p>
            </span>
        </div>
    
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                <a title="Linkedin"
                    href="https://www.linkedin.com/pulse/crecimiento-s%C3%AD-pero-tambi%C3%A9n-inversi%C3%B3n-en-capital-cuadros-arellano/">
                    <img src="../../../assets/Imagenes/blogWM.jpg"></a>
                <p style="color: gray;">Publicada el 16 de Marzo del 2021</p>
                <a title="nota" style="color: black; text-decoration:none"
                    href="https://www.linkedin.com/pulse/crecimiento-s%C3%AD-pero-tambi%C3%A9n-inversi%C3%B3n-en-capital-cuadros-arellano/">
                    <h1>Crecimiento sí, pero también inversión en capital humano</h1>
                </a>
                <p>El crecimiento del comercio en línea no puede entenderse sin la pandemia,
                    pero esto tampoco puede continuar si no se invierte en tecnología de vanguardia,
                    para afinar la máquina y la última milla. Sin embargo, como nos lo ha demostrado Walmart,
                    invertir en su capital humano es inversión más importante.</p>
            </span>
        </div>
    
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <a title="Linkedin"
                    href="https://www.linkedin.com/pulse/objetivo-primordial-mejorar-el-cx-adri%C3%A1n-cuadros-arellano/">
                    <img src="../../../assets/Imagenes/CX.png"></a>
                <p style="color: gray;">Publicada el 8 de Marzo del 2021</p>
                <a title="nota" style="color: black; text-decoration:none"
                    href="https://www.linkedin.com/pulse/objetivo-primordial-mejorar-el-cx-adri%C3%A1n-cuadros-arellano/">
                    <h1>Objetivo primordial: mejorar el CX</h1>
                </a>
                <p>Todos en la industria logística y retail debemos trabajar en afinar la máquina, sobre todo en la última
                    milla,
                    para que el cliente mejore su CX y se quede para siempre como un comprador en línea,
                    que confía en la red y que está satisfecho con las entregas que recibe.
                    Esto ayudará a que nuestra industria se consolide y se mantenga en el crecimiento logrado durante la
                    pandemia.</p>
            </span>
        </div>
    </div>
</body>
</html>